.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.47), rgba(0, 0, 0, 0.47)), url("../images/adminbg.jpg");
    position: relative;
    width: 100%;
    height: 500px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    border:1px solid white;
    width:500px;
    height:200px;
}

.hero-text::after {
    display: block;
    content: "";
    width: 250px;
    height: 1px;
    background-color: white;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%);
}

.hero-text h1{
    font-size:50px;
}

.btn-classItem {
    border: none;
    width: 180px;
    height: 50px;
    background-color: #9163cb;
    color: white;
}

.bs-color {
    border-left: 5px solid #f9c74f;
    background-color: #8850CC;
}


.searchBar{
    position:relative;
}

.searchBar .searchtext {
    height: 40px;
    border-radius: 20px;
    border: 1px solid #b7b7a4;
    padding-left: 10px;
}

.searchBar .fa-search {
    color: #b200ff;
    position: absolute;
    top: 12px;
    left: 305px;
    cursor:pointer;
}

.icon-pc {
    cursor: pointer;
    color: #e76f51;
    margin-left: -30px;
}

.db-table .btn-info {
    background-color: #2ec4b6;
    border-color: #2ec4b6;
    color:white;
}

 .db-table thead{
    background-color: #8e7dbe;
    color:white;
}

.imageBrowse-label {
    margin-top: 50px;
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #7904a0;
    color: white;
    text-align: center;
    padding-top: 13px;
    cursor: pointer;
}

 #member-avatar{
     border-radius:50%;
 }

.btn-uploadImg {
    border: none;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #7904a0;
    color: white;
}

.btn-uploadImg:hover {
    background-color: #ad51cc;
}

@media(min-width: 1400px) {
    .container {
        max-width: 1500px;
    }
 }

/*restaurant table style*/
.tbstyle thead {
    background-color: #905ca2;
    color: white;
    border-radius: 10px;
}
/*remove the thick bottom border from thead*/
.table > :not(:first-child) {
    border-top: 0;
}

.tbstyle thead {
    height: 45px;
    vertical-align: middle;
}

.tbstyle th:first-child,
.tbstyle td:first-child {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.tbstyle th:last-child,
.tbstyle td:last-child {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.sup-sec thead {
    background-color: #5FAF9F;
}

tr.list{
    vertical-align:middle;
}

tr.list:hover {
    background-color: #e0d7ff;
}

.sup-sec .list:hover {
    background-color: #C8E0DB;
}


.outer .sec-btn-info{
    background-color:#f7b52c;
    color:white;
    border:none;
}

.sec-btn-danger {
    background-color: #905ca2;
    color: white;
    border: none;
}

.sec-btn-danger:hover {
    background-color: #905ca2;
    color: white;
}

.form-select{
    width:15%;
}

.form-select:focus{
    border-color:#9d4edd;
    box-shadow: 0 0 0 0.25rem rgba(223, 207, 240, 0.91);
}

#rest-container{
    display:none;
}

#sup-container {
    display: none;
}

/*.show-y{
    display:block;
}

.show-n{
    display:none;
}*/