.hospital-group {
    padding: 50px 0px;
    position: absolute;
}

.hospital-group1 {
font-weight:600;
font-size: 25px;
color:#5f1985;
}

.hospital-group2 {
font-weight:600;
font-size: 20px;
padding-bottom: 40px;
font-family: 'Inter', sans-serif,'Noto Sans TC', sans-serif;
}

.hospital-group3 {
font-weight:600;
font-size: 18px;
color:#5f1985;
padding: 15px 0 2px 0;
}

.hospital-group4 {
font-weight:600;
font-size:18px;
padding-left: 28px;
font-family: 'Inter', sans-serif,'Noto Sans TC', sans-serif;
}



