.send-letter {
    font-family: 'Noto Sans TC', sans-serif,system,'Inter', sans-serif,'Noto Sans TC', sans-serif;
    padding: 20px;
    background: #e0d7ff;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.send-success {
    width: 400px;
    height: 350px;
    margin: 0 auto;
    text-align: center;
    box-shadow: none;
    background: #fff;
    box-shadow: 0px 6px 60px 0px rgba(38, 51, 64, 0.08);
    border: none;
    border-radius: 6px;
    padding: 50px 60px;
}

.send-icon{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #905ca2;
    margin: auto;
}
.send-icon h1{
    color: #fff; 
    padding-top: 30px;
}

.send-helper a{
    color: #5f1985;
    padding-top: 100px;
}



