@model KTN5.Models.User

@{
    ViewBag.Title = "編輯密碼";
    Layout = "~/Views/Shared/Navbar.cshtml";
    ViewBag.photo = Model.photo;
}

@section Styles{
    <link href="~/Content/User-info.css" rel="stylesheet" />
}

<section class="user-info">
    <div class="container p-5">
        <div class="personal-information">
            <div class="info-title">變更密碼</div>
            <br>

            <form class="personal-info" action="@Url.Action("EditPassword")" method="post" enctype="multipart/form-data">

                @Html.AntiForgeryToken()
                <div class="d-flex">
                    <div class="col-6 text-center">

                        <div class="personal-img">
                            <img src="~/images/Lock_icon.svg" id="user-img" width="250" height="250" style="border-radius: 50%">
                        </div>

                    </div>

                    <div class="col-6">

                        <div class="personal-group1">
                            <label for="u-pwd">密碼</label>
                        </div>
                        <div class="personal-group2">
                            <input type="password" class="form-control" name="password" value="" placeholder="新密碼" maxlength="12" required><br>
                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                        </div>

                        <div class="personal-group1">
                            <label for="password">確認密碼</label>
                        </div>
                        <div class="personal-group2">
                            <input type="password" class="form-control" name="ConfirmPassword" value="" placeholder="再次輸入新密碼" maxlength="12" required><br>
                            @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                        <br>
                        <div class="personal-line">
                            <input type="submit" class="personal-save btn" value="儲存">
                        </div>

                    </div>
                </div>
            </form>

        </div>
    </div>
</section>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
