
@{ ViewBag.Title = "忘記密碼"; }

<div class="login1">
    <div class="forget2">
        <h2>忘記密碼</h2>
        <br>

        <!-- ... -->
        <form class="form-User" action="@Url.Action("ForgotPassword")" method="post">
            <div class="text-success">
                @ViewBag.Message
            </div>
            <div class="form-group">
                <input type="email" class="form-control" name="account" value="" placeholder="信箱帳號" required>
            </div>

            <div>
                <input type="submit" class="sub btn" value="送出">
            </div>

            <div>
                <p class="helper-text">@Html.ActionLink("返回登入頁", "Login", "User", new { style = "color: #5f1985;" })</p>
            </div>
        </form>
    </div>
</div>







