@model KTN5.Models.UserLogin

@{ ViewBag.Title = "登入"; }


<!-- The Modal -->
<div id="mylogin1" class="login1">

    <!-- Modal content -->
    <div class="login1-content">

        <div class="well">
            <h2>登入</h2>
            <br>

            <!-- ... -->
            <form class="form-User" action="@Url.Action("Login")" method="post">
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <input type="email" class="form-control" name="account" value="" placeholder="信箱帳號" required>
                </div>

                <div class="form-group">
                    <input type="password" class="form-control" name="password" value="" panel placeholder="密碼" id="pwd-0" maxlength="12" required>
                </div>
                <div class="pwd">
                    <div class="pwd-forget">
                        <a href="@Url.Action("ForgotPassword")" style="color: #5f1985;">忘記密碼?</a>
                    </div>

                    <div class="pwd-text">
                        <input type="checkbox" onclick="myFunction()"> 顯示密碼
                    </div>
                </div>

                <div>
                    <input type="submit" class="sub btn" value="登入">
                </div>

            </form>

        </div>
    </div>

</div>


@section Scripts{
    <script src="~/Scripts/login.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}