
@{ ViewBag.Title = "VerifyAccount"; }

<h2>確認帳戶</h2>

@if (ViewBag.Status != null && Convert.ToBoolean(ViewBag.Status))
{
    <div class="alert alert-success">
        <strong>成功認證!</strong>點擊 @Html.ActionLink("登入", "Login", "User")
    </div> 
}
else
{
    <div class="alert alert-danger">
        <strong>Error!</strong>@ViewBag.Message
    </div>
}